.chk {
    appearance: none;
    display: inline;
    background: white;
    width: 0.8em;
    height: 0.8em;
    border-radius: 3px;
    border: 1px solid black;
    outline: none;
    outline-offset: 0;
    padding: 1px;
}

.chk:focus {
    padding: 0px;
    border: 2px solid #1BA1F2;
}

.chk::before {
    content: "✔";
    display: inline;
    font-size: 1.5em;
}

.chk:not(:checked)::before {
    visibility: hidden;
}

.chk:focus+label {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
    text-decoration-skip-ink: none;
    text-decoration-color: #1BA1F2;
}